@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", @FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="text" name="UserName" class="form-control" placeholder="请输入登录名" />
    </div>
    <div class="form-group">
        <input type="password" name="Password" class="form-control" placeholder="请输入密码" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">登录</button>
    </div>
}
<p>UserName: admin Password: 123</p>